@page
@model FociWeb_App.Pages.MeccsekListazasaModel

@{
    ViewData["Title"] = "Meccs Eredmények";
}

<h1>Meccs Eredmények</h1>

<p>
    <a asp-page="UjMerkozesFelvetele">Új Mérkőzés Felvétel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Forduló
            </th>
            <th>
                Hazai Csapat Végeredmény
            </th>
            <th>
                Vendég Csapat Végeredmény
            </th>
            <th>
                Hazai Csapat Félidő
            </th>
            <th>
                Vendég Csapat Félidő
            </th>
            <th>
                Hazai Csapat Neve
            </th>
            <th>
                Vendég Csapat Neve
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meccs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fordulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HazaiVeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendegVeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HazaiFel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendegFel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HazaiCsapat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendegCsapat)
            </td>
            <td>
                    <a asp-page="./AdatbazisSzerkesztes" asp-route-id="@item.Id">Szerkesztés</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Infó</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
